## Hypothesis Testing in Python :

In [57]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import math as mat

In [3]:
%cd D:\E DRIVE\PERSONAL\analytixlab\PYTHON\Class 9-10

D:\E DRIVE\PERSONAL\analytixlab\PYTHON\Class 9-10

In [7]:
cust_seg=pd.read_csv("cust_seg.csv")
cust_seg.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [8]:
cust_seg.Latest_mon_usage.mean()

63.17400000000001

In [9]:
cust_seg.Latest_mon_usage.std()

11.242137352892753

In [10]:
cust_seg.columns

Index([u'custid', u'sex', u'AqChannel', u'region', u'Marital_status',
       u'segment', u'pre_usage', u'Post_usage_1month', u'Latest_mon_usage',
       u'post_usage_2ndmonth'],
      dtype='object')

### One Sample T-Test

In [15]:
stats.ttest_1samp(cust_seg.Latest_mon_usage,popmean=50)

Ttest_1sampResult(statistic=16.57233752433133, pvalue=2.4963719280931583e-39)

In [18]:
stats?

### Two Sample T-Test (Paired)

In [21]:
print(cust_seg.pre_usage.mean())
print(cust_seg.post_usage_2ndmonth.mean())

52.23
58.0525

In [23]:
stats.ttest_rel(a=cust_seg.pre_usage,b=cust_seg.post_usage_2ndmonth)

Ttest_relResult(statistic=-8.866832246938742, pvalue=4.295733828012836e-16)

### Two sample T-Test (Independent):

In [24]:
cust_seg.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [27]:
Male_spend=cust_seg.Post_usage_1month[cust_seg.sex==0]
Female_spend=cust_seg.Post_usage_1month[cust_seg.sex==1]

In [30]:
print(Male_spend).head()
print(Female_spend).head()

0    52
2    33
3    44
4    52
5    52
Name: Post_usage_1month, dtype: int64
1     59
92    62
93    44
94    44
95    62
Name: Post_usage_1month, dtype: int64

In [31]:
Male_spend.mean()

50.120879120879124

In [32]:
Female_spend.mean()

54.99082568807339

In [33]:
Female_spend.std()

8.13371516959346

In [34]:
Male_spend.std()

10.305160697259263

In [35]:
stats.ttest_ind?

In [36]:
stats.ttest_ind(a=Male_spend,b=Female_spend,equal_var=False) #Assume sample have not equal variance

Ttest_indResult(statistic=-3.6564080478875276, pvalue=0.00034088493594266187)

In [38]:
stats.ttest_ind(a=Male_spend,b=Female_spend,equal_var=True) #Assume sample have equal variance

Ttest_indResult(statistic=-3.7340738531536797, pvalue=0.00024625461203549315)

In [40]:
stats.f_oneway(Male_spend,Female_spend) # ANOVA Test

F_onewayResult(statistic=13.94330754080599, pvalue=0.0002462546120354903)

### ANOVA :

In [41]:
# H0: All means are equal
# H1: At least one of the means are not equal
cust_seg.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [43]:
s1=cust_seg.Latest_mon_usage[cust_seg.segment==1]
s2=cust_seg.Latest_mon_usage[cust_seg.segment==2]
s3=cust_seg.Latest_mon_usage[cust_seg.segment==3]

In [44]:
# Perform ANOVA Test
stats.f_oneway(s1,s2,s3)

F_onewayResult(statistic=29.279283801321778, pvalue=7.36401083352674e-12)

In [45]:
# Is there any relation between region and segment?
# do Chi-Square Test becoz of categorical variable
chi-sq=pd.crosstab?

In [48]:
chi=pd.crosstab(cust_seg.segment,cust_seg.region,margins=True)
chi

region    1   2   3  All
segment
1        16  20   9   45
2        19  44  42  105
3        12  31   7   50
All      47  95  58  200

In [51]:
stats.chi2_contingency(observed=chi)

(16.60444164948934,
 0.055282939487992365,
 9L,
 array([[ 10.575,  21.375,  13.05 ,  45.   ],
        [ 24.675,  49.875,  30.45 , 105.   ],
        [ 11.75 ,  23.75 ,  14.5  ,  50.   ],
        [ 47.   ,  95.   ,  58.   , 200.   ]]))

In [52]:
cust_seg.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

### Correlation:

In [56]:
print(np.corrcoef(cust_seg.Latest_mon_usage,cust_seg.Post_usage_1month))
print(stats.stats.pearsonr(cust_seg.Latest_mon_usage,cust_seg.Post_usage_1month))
print(stats.stats.pearsonr(cust_seg.Latest_mon_usage,cust_seg.pre_usage))

[[1.         0.61744926]
 [0.61744926 1.        ]]
(0.6174492644854919, 2.0866647416871388e-22)
(0.6622801251558604, 1.2767419295068468e-26)

In [59]:
sm.OLS?

In [64]:
Y=cust_seg.Latest_mon_usage
X=sm.add_constant(cust_seg.Post_usage_1month)
mod=sm.OLS(Y,X)
res=mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       Latest_mon_usage   R-squared:                       0.381
Model:                            OLS   Adj. R-squared:                  0.378
Method:                 Least Squares   F-statistic:                     122.0
Date:                Wed, 19 Jun 2019   Prob (F-statistic):           2.09e-22
Time:                        17:41:51   Log-Likelihood:                -719.22
No. Observations:                 200   AIC:                             1442.
Df Residuals:                     198   BIC:                             1449.
Df Model:                           1
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                24.5253      3.555      6.899      0.000      17.515      31.536
Post_usage_1month     0.7323      0.066     11.045      0.000       0.602       0.863
==============================================================================
Omnibus:                        0.898   Durbin-Watson:                   2.008
Prob(Omnibus):                  0.638   Jarque-Bera (JB):                1.014
Skew:                           0.140   Prob(JB):                        0.602
Kurtosis:                       2.793   Cond. No.                         304.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""